In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
books = pd.read_csv('data/Books.csv')

C:\Users\THINKPAD\AppData\Local\Temp\ipykernel_32\81276107.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/Books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books = books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [5]:
books.rename(columns={'Book-Title':'title',"Book-Author":'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [6]:
books.head()

,ISBN,title,author,year,publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [7]:
users = pd.read_csv('data/Users.csv')

In [8]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [10]:
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
ratings = pd.read_csv('data/Ratings.csv')

In [12]:
ratings.rename(columns={"User-ID":'user_id',"Book-Rating":'rating'},inplace=True)

In [13]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [14]:
print(f'books shape {books.shape}')
print(f'users shape {users.shape}')
print(f'rating shape {ratings.shape}')

books shape (271360, 5)
users shape (278858, 3)
rating shape (1149780, 3)

In [15]:
x = ratings['user_id'].value_counts()>200

In [16]:
y = x[x].index

In [17]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user_id', length=899)

In [18]:
ratings = ratings[ratings['user_id'].isin(y)]

In [19]:
ratings.shape

(526356, 3)

In [20]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [21]:
ratings_with_books = ratings.merge(books,on='ISBN')

In [22]:
ratings_with_books.shape

(487671, 7)

In [23]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [24]:
number_rating.rename(columns={'rating':'number of rating'},inplace=True)

In [25]:
number_rating

                                                    title  number of rating
0        A Light in the Storm: The Civil War Diary of ...                 2
1                                   Always Have Popsicles                 1
2                    Apple Magic (The Collector's series)                 1
3        Beyond IBM: Leadership Marketing and Finance ...                 1
4        Clifford Visita El Hospital (Clifford El Gran...                 1
...                                                   ...               ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...                 3
160265                                      Ã?Â?lpiraten.                 1
160266                     Ã?Â?rger mit Produkt X. Roman.                 1
160267                              Ã?Â?stlich der Berge.                 1
160268                                  Ã?Â?thique en toc                 1

[160269 rows x 2 columns]

In [26]:
final_rating = ratings_with_books.merge(number_rating,on='title')

In [27]:
final_rating.shape

(487671, 8)

In [28]:
final_rating = final_rating[final_rating['number of rating']>=50]

In [29]:
final_rating.shape

(61853, 8)

In [30]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [31]:
final_rating.shape

(59850, 8)

In [32]:
book_pivot = final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [33]:
book_pivot.shape

(742, 888)

In [34]:
book_pivot.fillna(0,inplace=True)

In [35]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
from scipy.sparse import csr_matrix

In [37]:
book_sparse = csr_matrix(book_pivot)

In [38]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [39]:
from sklearn.neighbors import NearestNeighbors

In [40]:
model = NearestNeighbors(algorithm='brute')

In [41]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [42]:
distances, suggestions = model.kneighbors(book_pivot.iloc[184, :].values.reshape(1,-1),n_neighbors=6)

In [43]:
distances

array([[ 0.        , 13.7113092 , 15.62049935, 16.61324773, 17.66352173,
        17.8605711 ]])

In [44]:
suggestions

array([[184, 536, 597, 291, 372, 187]], dtype=int64)

In [45]:
for i in suggestions[0]:
    print(book_pivot.index[i])

Exclusive
The Cradle Will Fall
The Long Road Home
Jacob Have I Loved
No Safe Place
Eyes of a Child

In [46]:
def recommend_books_for(book_name, number_of_suggestions=5):

    if book_name not in book_pivot.index:
        return "Sorry! I don't know."
    
    book_id = np.where(book_pivot.index==book_name)[0][0]
    distances, suggestions = model.kneighbors(book_pivot.iloc[book_id, :].values.reshape(1,-1),n_neighbors=number_of_suggestions+1)

    print(f"Top {number_of_suggestions} suggestions for {book_name} are:\n")
    for i in suggestions[0][1:]:
        print(book_pivot.index[i])

In [47]:
recommend_books_for(book_name='Animal Farm',number_of_suggestions=7)

Top 7 suggestions for Animal Farm are:

Exclusive
Jacob Have I Loved
Second Nature
Pleading Guilty
No Safe Place
Foucault's Pendulum
The Cradle Will Fall